$langButtonBackground: #8D392F;
$langButtonBackgroundHover: #65261E;
$langButtonText: #fff;
$orderButtonBackground: #ffc609;
$orderButtonBackgroundHover: #ce9f06;
$orderButtonText: #3a3a3a;
$headerMenuLink: #3a3a3a;
$headerMenuLinkHover: #8D392F;
$socialIconsButton: #3a3a3a;
$socialIconsButtonHover: #6e6e6e;
$bugerMenuColor: #8D392F;


@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin margin-padding-zero {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    @include margin-padding-zero;
    background-image: url("../img/chinese-wallpa.png");
    background-repeat: repeat;
    font-family: 'Noto Sans TC', sans-serif;
    .container {
        height: 100vh;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0;

        //header
        .header-container {
            position: fixed;
            width: 100%;
            z-index: 3;
            .header {
                position: relative;
                max-width: 1280px;
                .background-image {
                    min-height: 110px;
                    background: no-repeat url('../img/header-background.png');
                    background-size: cover;
                    .header-navbar {
                        @include margin-padding-zero;
                        button {
                            // margin: 35px 0 0 10px;
                            border: none;
                            outline: none !important;
                        }
                        .burger-menu:active {
                            top: 3px;
                        }
                        .burger-menu {
                            height: 30px;
                            width: 40px;
                            position: relative;
                            left: 10px;
                            top: 0px;
                            @include margin-padding-zero;
                            list-style: none;
                            cursor: pointer;
                            z-index: 4;
                            .burger-line {
                                position: absolute;
                                height: 5px;
                                width: 40px;
                                background-color: $bugerMenuColor;
                                transition: ease-in-out 0.2s;
                                border-radius: 10px;
                                transform: translate(0, -50%);
                            }
                            .burger-line-one {
                                top: 0;
                            }
                            .burger-line-two {
                                top: 10px;
                                opacity: 1;
                            }
                            .burger-line-three {
                                top: 20px;
                            }
                        }
                        .burger-menu-open {
                            .burger-line-one {
                                animation: buger-top 0.3s  0.2s  forwards;
                            }
                            .burger-line-two {
                                opacity: 0;
                            }
                            .burger-line-three {
                                animation: buger-bottom 0.3s  0.2s  forwards;
                            }
                            @keyframes buger-top {
                                0% {top: 0px;}
                                50% {top: 10px; transform: rotate(0deg)}
                                100% {top: 10px; transform: rotate(45deg);}
                            }
                            @keyframes buger-bottom {
                                0% {top: 20px;}
                                50% {top: 10px; transform: rotate(0deg)}
                                100% {top: 10px; transform: rotate(-45deg);}
                            }
                        }
                        .header-links {
                            display:inline-block;
                            margin: 20px 20px;
                        }
                        .header-links a {
                            padding:10px 0 5px;
                            font-size: 0.9rem;
                            font-weight: bold;
                            max-width: 90px;
                            // display:block;
                            text-transform: uppercase;
                            color: $headerMenuLink;
                            position:relative;
                        }
                        .header-links a:hover {
                            color: $headerMenuLinkHover;
                        }
                        @mixin underLineEffect {
                            content:'';
                            width: 0%;
                            transition: all 0.2s ease;
                            left: 50%;
                        }
                        @mixin underLineEffectHover {
                            content:'';
                            position: absolute;
                            bottom: 0px;
                            background:#8D392F;
                            height: 2px;
                            width: 50%;
                        }
                        .header-links a:after{
                            @include underLineEffect;
                        }
                        .header-links a:before{
                            @include underLineEffect;
                        }
                        .header-links a:hover:after{
                            left:50%;
                            @include underLineEffectHover
                        }
                        .header-links a:hover:before{
                            left:0px;
                            @include underLineEffectHover
                        }
                    }
                    .header-logo {
                        position: absolute;
                        margin-left: 100px;
                        top: 25px;
                
                    }
                
                    .lang-button {
                        position: absolute;
                        top: 40px;
                        right: 90px;
                        cursor: pointer;
                        p {
                            margin-top: 5px;
                            font-weight: bold;
                            color: $headerMenuLink;
                        }
                        button {
                            margin: 0;
                            min-width: 80px;
                            padding: 8px 0;
                            text-decoration: none;
                            outline: none;
                            border-radius: 6px;
                            border: none;
                            background-color: $langButtonBackground;
                            color: $langButtonText;
                            font-size: 0.9rem;
                            font-weight: bold;
                            font-family: 'Noto Sans TC', sans-serif;
                            
                        }
                        button:hover {
                            background-color: $langButtonBackgroundHover;
                        }
                    }
                    @media screen and (max-width: 890px) {
                        .header-navbar {
                            .header-links {
                                margin: 20px 15px;
                            }
                        }
                    }
    
                    @media screen and (max-width: 767px) {
                        .header-navbar {
                            .header-links {
                                a {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                        .header-logo {
                            margin: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                        .lang-button {
                            right: 15px;
                        }
                    }
                }
                
            }        
        }

        //modal section
        .modal-content {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            .modal-body-container {
                text-align: center;
                min-height: 400px;
                .container-fluid {
                    .close-button {
                        position: absolute;
                    }
                    .border-line {
                        border-bottom: 1px solid #bbb;
                    }
                    div {
                        .font-style {
                            text-transform: uppercase;
                            font-weight: 900;
                            font-size: 1.1rem;
                        }
                        p {
                            margin: 0;;
                        }
                        a {
                            position: relative;
                            margin: 0 auto;
                            button {
                                padding: 10px 40px;
                            }
                        }  
                    }
                }
            }
        }

        //home page body section
        .body-section-container {
            position: relative;
            .body-main-container {
                position: relative;
                height: 100vh;
                max-width: 1280px;
                .body-main {
                    position: fixed;
                    background: no-repeat url('../img/home-body-background.png') fixed;
                    background-size: cover;
                    height: 100vh;
                    width: 100%;
                    max-width: 1280px;
                    margin: 0 auto;
                    z-index: 0;
                    .red-screen {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(120, 13, 13, 0.75);
                        
                    }
                    .body-slogan-container {
                        position: relative;
                        // height: 300px;
                        width: 100%;
                        max-width: 1280px;
                        margin: 200px 0 10px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        div {
                            padding: 0;
                        }
                        .slogon {
                            image {
                                display: block;
                            }
                        }
                        .slogon-background {
                            position: absolute;
                            display: none;
                        }
                        @media screen and (max-width: 580px) {
                            .slogon {
                                image {
                                    display: none;
                                } 
                            }
                            .slogon-background {
                                display: block;
                            }
                            .slogon-background-left {
                                left: 12px;
                            }
                            .slogon-background-right {
                                right: 12px;
                            }
                        }
                    }
                    .order-button {
                        width: 100%;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        button {
                        position: relative;
                        display: block;
                        min-width: 200px;
                        height: 60px;
                        font-size: 1.5em;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        color: #333;
                        border: none;
                        border-radius: 10px;
                        background-color: $orderButtonBackground;
                        cursor: pointer;
                        box-shadow: 0 0 0 0 rgba($orderButtonBackground, .5);
                        animation: pulse 1.5s infinite;
                        }
                        button:focus {
                            outline: none;
                        }
                        button:hover {
                            animation: none;
                        }
                        @keyframes pulse {
                            0% {
                                transform:(scale(.95));
                            }
                            70% {
                                transform:(scale(1));
                                box-shadow: 0 0 0 25px rgba($orderButtonBackground, 0);
                            }
                            100% {
                                transform:(scale(.95));
                                box-shadow: 0 0 0 0 rgba($orderButtonBackground, 0);
                            }
                        }
                    }
                    
                    .body-congee-container {
                        position: absolute;
                        bottom: 0;
                        height: 100%;
                        width: 100%;
                        pointer-events: none;
                        .body-congee {
                            position: relative;
                            background: no-repeat url('../img/congee.png') center bottom;
                            background-size: auto;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            //intro section
            .intro-section-container:nth-child(odd) {
                grid-template-rows: 1fr;
                grid-template-columns: 3fr 2fr;
                .intro-text {
                    @include margin-padding-zero;
                    background: no-repeat url('../img/home-body-background.png') ;
                    background-size: cover;
                    order: 1;
                }
                .section-image-container {
                    order: 2;
                }
            }
            .intro-section-container:nth-child(even) {
                grid-template-rows: 1fr;
                grid-template-columns: 2fr 3fr;
                .intro-text {
                    @include margin-padding-zero;
                    background-color: #8A372C;
                    order: 2;
                    .text {
                        color: #fff;
                    }
                }
                .section-image-container {
                    order: 1;
                }
            }
            @media screen and (max-width: 992px) {
                .intro-section-container:nth-child(odd) {
                    grid-template-columns: 1fr;
                    grid-template-rows: 3fr 1fr;
                    .intro-text {
                        order: 1;
                    }
                    .section-image-container {
                        height: 350px;
                        order: 2;
                    }
                }
                .intro-section-container:nth-child(even) {
                    grid-template-columns: 1fr;
                    grid-template-rows: 3fr 1fr;
                    .intro-text {
                        order: 1;
                    }
                    .section-image-container {
                        height: 350px;
                        order: 2;
                    }
                }
            }
            .intro-section-container {
                @include margin-padding-zero;
                background-color: #fff;
                display: grid;
                z-index: 2;
                .intro-text {
                    @include margin-padding-zero;
                    height: 100%;
                    min-height: 950px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    z-index: 2;
                    .intro {
                        position: relative;
                        margin: 0 auto;
                        width: 70%;
                        h3 {
                            font-family: 'Noto Sans TC', sans-serif;
                            font-weight: 700;
                        }
                        .text {
                            font-family: 'Noto Sans TC', sans-serif;
                            font-weight: 400;
                            line-height: 2.2rem;
                            margin: 20px 0 40px;
                            span {
                                font-weight: bold;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            .text {
                                font-size: 0.9rem;
                                line-height: 2rem;
                            }
                        }
                    }
                    @media screen and (max-width: 992px) {
                        .intro-text {
                            min-height: 700px;
                        }
                    }
                }
                .section-image-container {
                    @include margin-padding-zero;
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                    div {
                        height: 100%;
                        min-height: 950px;
                    }
                    .second-section-image { 
                        background: no-repeat url('../img/home_2.jpg') 100% 100% fixed;
                        background-size: fill;
                    }
                    .third-section-image {
                        background: no-repeat url('../img/home_5.jpg') 0% 100% fixed;
                        background-size: fill;
                    }
                    .fourth-section-image {
                        background: no-repeat url('../img/home_4.jpg') 100% 100% fixed;
                        background-size: fill;
                    }
                    .fifth-section-image {
                        background: no-repeat url('../img/home_6.jpg') 0% 100% fixed;
                        background-size: fill;
                    }
                    @media screen and (max-width: 992px) {
                        div {
                            min-height: 450px;
                        }
                        .second-section-image { 
                            background: no-repeat url('../img/home_2.jpg') center 20%;
                            background-size: cover;
                        }
                        .third-section-image {
                            background: no-repeat url('../img/home_5.jpg') center 20%;
                            background-size: cover;
                        }
                        .fourth-section-image {
                            background: no-repeat url('../img/home_4.jpg') center 20%;
                            background-size: cover;
                        }
                        .fifth-section-image {
                            min-height: 350px;
                            background: no-repeat url('../img/home_6.jpg') center;
                            background-size: cover;
                        }
                    }
                }
            }
        }

        //Menu Page
        .menu-container {
            @include margin-padding-zero;
            // height: 950px;
            background-color: #fff;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            z-index: 1;
            .menu-text {
                @include margin-padding-zero;
                height: 100%;
                height: 950px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .top-spacer {
                    top: 50px;
                }
                .menu {
                    position: relative;
                    width: 70%;
                    line-height: 2rem;
                    li {
                        padding: 3px 0;
                    }
                }
                .dinner-Combo-menu {
                    li {
                        padding: 0 ;
                    }
                }
                @media screen and (max-width: 1200px) {
                    .menu {
                        font-size: 0.9rem;
                        line-height: 1.8rem;
                    }
                }
            }
            .menu-image-container {
                @include margin-padding-zero;
                // height: 100%;
                max-width: 640px;
                div {
                    height: 100%;
                    width: 100%;
                }
                .first-menu-image {
                    position: relative;
                    right: 0;
                    background: no-repeat url('../img/menu_2_sq.jpg') 100% 100% fixed;
                    background-size: con;
                }
                .second-menu-image {

                    background: no-repeat url('../img/menu_1_sq.jpg') 0% 100% fixed;
                    background-size: fill;
                }
                .third-menu-image {

                    background: no-repeat url('../img/menu_3_sq.jpg') 100% 100% fixed;
                    background-size: fill;
                }
                .fourth-menu-image {

                    background: no-repeat url('../img/menu_5_sq.jpg') 0% 100% fixed;
                    background-size: fill;
                }
                .fifth-menu-image {

                    background: no-repeat url('../img/menu_4_sq.jpg') 100% 100% fixed;
                    background-size: fill;
                }
            }
            .menu-text-one {
                order: 1;
            }
            .menu-image-one {
                order: 2;
            }
        }
        @media screen and (max-width: 992px) {
            .first-menu-container {
                padding-top: 100px;
            }
            .menu-container { 
                text-align: center;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 3fr;
                .menu-text {
                    height: 650px;
                    .menu {
                        width: 90%;
                        ul {
                            @include margin-padding-zero;
                            li {
                                list-style: none;
                            }
                        }
                    }
                }
                .long-list-spacer {
                    height: 950px;
                }
                .menu-image-container {
                    max-height: 400px;
                    min-width: 100%;
                    .first-menu-image {
                        background: no-repeat url('../img/menu_2_sq.jpg') 100% 20%;
                        background-size: cover;
                    }
                    .second-menu-image {
    
                        background: no-repeat url('../img/menu_1_sq.jpg') 100% 20%;
                        background-size: cover;
                    }
                    .third-menu-image {
    
                        background: no-repeat url('../img/menu_3_sq.jpg') 100% 20%;
                        background-size: cover;
                    }
                    .fourth-menu-image {
    
                        background: no-repeat url('../img/menu_5_sq.jpg') 100% 20%;
                        background-size: cover;
                    }
                    .fifth-menu-image {
    
                        background: no-repeat url('../img/menu_4_sq.jpg') 100% 20%;
                        background-size: cover;
                    }
                }
                .menu-text-one {
                    order: 2;
                    .top-spacer {
                        top: 0px;
                    }
                }
                .menu-image-one {
                    order: 1;
                }
            }
        }

        //Location Page
        .location-container {
            @include margin-padding-zero;
            min-height: 850px;
            z-index: 1;
            background-color: #fff;
            .center-items {
                min-height: 500px;
                width: 80%;
                position: relative;
                top: 180px;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                border: 1px solid #ddd;
                border-radius: 15px;
                .address-container {
                    @include margin-padding-zero;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h3 {
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    .store-info {
                        display: flex;
                        span {
                            font-size: 0.8rem;
                            margin: 3px 10px 0 0;
                        }
                        p {
                            line-height: 1.8rem;
                        }
                    }
                }
                .map-container {
                    @include margin-padding-zero;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0;
                    div {
                        height: 400px;
                        width: 375px;
                    }
                }
            }
            @media screen and (max-width: 1040px) {
                .center-items {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 2fr;
                    
                }
            }
            @media screen and (max-width: 560px) {
                .center-items {
                    width: 100%;
                    border: none;
                    
                }
            }
        }

        //About Page
        .about-container {
            @include margin-padding-zero;
            min-height: 850px;
            z-index: 1;
            background-color: #fff;
            .about-contents {
                width: 60%;
                position: relative;
                margin: 0 auto;
                top: 220px;
                div {
                    text-align: center;
                    margin-bottom: 20px;
                    h3 {
                        font-weight: 900;
                    }
                }
                p {
                    font-size: 0.9rem;
                    font-weight: 400;
                    line-height: 2.2rem;
                }
            }
            @media screen and (max-width: 992px) {
                .about-contents {
                    width: 80%;
                    p {
                        line-height: 2rem;
                    }
                }
            }
            @media screen and (max-width: 600px) {
                .about-contents {
                    width: 85%;
                    top: 170px;
                    div {
                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                    p {
                        font-size: 0.8rem;
                        line-height: 1.8rem;
                    }
                }
            }
        }
        
        //footer
        .footer {
            position: relative;
            bottom: 0;
            @include margin-padding-zero;
            min-height: 150px;
            max-width: 1280px;
            background: no-repeat url('../img/footer-background.png');
            background-size: cover;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            .footer-contents {
                order: 1;
                width: 100%;
                @include margin-padding-zero;
                button {
                    margin: 20px 0 0 100px;
                    padding: 8px 60px;
                    text-decoration: none;
                    outline: none;
                    border-radius: 6px;
                    border: none;
                    background-color: $langButtonBackground;
                    color: $langButtonText;
                    font-size: 0.9rem;
                    font-weight: bold;
                }
                button:hover {
                    background-color: $langButtonBackgroundHover;
                }
                p {
                    margin-top: 100px;
                    font-size: 0.9rem;
                }
                a {
                    font-size: 1.5rem;
                    list-style: none;
                    margin: 0 10px;
                    color: $socialIconsButton;
                }
                a:hover {
                    color: $socialIconsButtonHover;
                }
            }
            .copyright {
                order: 2;
                text-align: center;
            }
            .social-icons {
                order: 3;
                margin: 20px 0;
                div {
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 100px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .footer {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                .footer-contents {
                    order: 1;
                    p {
                        margin-top: 30px;
                    }
                    text-align: center;
                    button {
                        margin: 20px 0;
                    }
                }
                .copyright {
                    order: 3;
                }
                .social-icons {
                    order: 2;
                    width: 80px;
                    position: relative;
                    margin: 20px auto;
                    div {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}


