body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("../img/chinese-wallpa.png");
  background-repeat: repeat;
  font-family: 'Noto Sans TC', sans-serif;
}

body .container {
  height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

body .container .header-container {
  position: fixed;
  width: 100%;
  z-index: 3;
}

body .container .header-container .header {
  position: relative;
  max-width: 1280px;
}

body .container .header-container .header .background-image {
  min-height: 110px;
  background: no-repeat url("../img/header-background.png");
  background-size: cover;
}

body .container .header-container .header .background-image .header-navbar {
  margin: 0;
  padding: 0;
}

body .container .header-container .header .background-image .header-navbar button {
  border: none;
  outline: none !important;
}

body .container .header-container .header .background-image .header-navbar .burger-menu:active {
  top: 3px;
}

body .container .header-container .header .background-image .header-navbar .burger-menu {
  height: 30px;
  width: 40px;
  position: relative;
  left: 10px;
  top: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  z-index: 4;
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line {
  position: absolute;
  height: 5px;
  width: 40px;
  background-color: #8D392F;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line-one {
  top: 0;
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line-two {
  top: 10px;
  opacity: 1;
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line-three {
  top: 20px;
}

body .container .header-container .header .background-image .header-navbar .burger-menu-open .burger-line-one {
  -webkit-animation: buger-top 0.3s  0.2s  forwards;
          animation: buger-top 0.3s  0.2s  forwards;
}

body .container .header-container .header .background-image .header-navbar .burger-menu-open .burger-line-two {
  opacity: 0;
}

body .container .header-container .header .background-image .header-navbar .burger-menu-open .burger-line-three {
  -webkit-animation: buger-bottom 0.3s  0.2s  forwards;
          animation: buger-bottom 0.3s  0.2s  forwards;
}

@-webkit-keyframes buger-top {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes buger-top {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes buger-bottom {
  0% {
    top: 20px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes buger-bottom {
  0% {
    top: 20px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

body .container .header-container .header .background-image .header-navbar .header-links {
  display: inline-block;
  margin: 20px 20px;
}

body .container .header-container .header .background-image .header-navbar .header-links a {
  padding: 10px 0 5px;
  font-size: 0.9rem;
  font-weight: bold;
  max-width: 90px;
  text-transform: uppercase;
  color: #3a3a3a;
  position: relative;
}

body .container .header-container .header .background-image .header-navbar .header-links a:hover {
  color: #8D392F;
}

body .container .header-container .header .background-image .header-navbar .header-links a:after {
  content: '';
  width: 0%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 50%;
}

body .container .header-container .header .background-image .header-navbar .header-links a:before {
  content: '';
  width: 0%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 50%;
}

body .container .header-container .header .background-image .header-navbar .header-links a:hover:after {
  left: 50%;
  content: '';
  position: absolute;
  bottom: 0px;
  background: #8D392F;
  height: 2px;
  width: 50%;
}

body .container .header-container .header .background-image .header-navbar .header-links a:hover:before {
  left: 0px;
  content: '';
  position: absolute;
  bottom: 0px;
  background: #8D392F;
  height: 2px;
  width: 50%;
}

body .container .header-container .header .background-image .header-logo {
  position: absolute;
  margin-left: 100px;
  top: 25px;
}

body .container .header-container .header .background-image .lang-button {
  position: absolute;
  top: 40px;
  right: 90px;
  cursor: pointer;
}

body .container .header-container .header .background-image .lang-button p {
  margin-top: 5px;
  font-weight: bold;
  color: #3a3a3a;
}

body .container .header-container .header .background-image .lang-button button {
  margin: 0;
  min-width: 80px;
  padding: 8px 0;
  outline: none;
  border-radius: 6px;
  border: none;
  background-color: #8D392F;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Noto Sans TC', sans-serif;
}

body .container .header-container .header .background-image .lang-button button a {
  color: #fff;
  text-decoration: none;
}

body .container .header-container .header .background-image .lang-button button:hover {
  background-color: #65261E;
}

@media screen and (max-width: 890px) {
  body .container .header-container .header .background-image .header-navbar .header-links {
    margin: 20px 15px;
  }
}

@media screen and (max-width: 767px) {
  body .container .header-container .header .background-image .header-navbar .header-links a {
    font-size: 1.2rem;
  }
  body .container .header-container .header .background-image .header-logo {
    margin: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  body .container .header-container .header .background-image .lang-button {
    right: 15px;
  }
}

body .container .modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

body .container .modal-content .modal-body-container {
  text-align: center;
  min-height: 400px;
}

body .container .modal-content .modal-body-container .container-fluid .close-button {
  position: absolute;
}

body .container .modal-content .modal-body-container .container-fluid .border-line {
  border-bottom: 1px solid #bbb;
}

body .container .modal-content .modal-body-container .container-fluid div .font-style {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.1rem;
}

body .container .modal-content .modal-body-container .container-fluid div p {
  margin: 0;
}

body .container .modal-content .modal-body-container .container-fluid div a {
  position: relative;
  margin: 0 auto;
}

body .container .modal-content .modal-body-container .container-fluid div a button {
  padding: 10px 40px;
}

body .container .body-section-container {
  position: relative;
}

body .container .body-section-container .body-main-container {
  position: relative;
  height: 100vh;
  max-width: 1280px;
}

body .container .body-section-container .body-main-container .body-main {
  position: fixed;
  background: no-repeat url("../img/home-body-background.png") fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 0;
}

body .container .body-section-container .body-main-container .body-main .red-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(120, 13, 13, 0.75);
}

body .container .body-section-container .body-main-container .body-main .body-slogan-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 200px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .container .body-section-container .body-main-container .body-main .body-slogan-container div {
  padding: 0;
}

body .container .body-section-container .body-main-container .body-main .body-slogan-container .slogon image {
  display: block;
}

body .container .body-section-container .body-main-container .body-main .body-slogan-container .slogon-background {
  position: absolute;
  display: none;
}

@media screen and (max-width: 580px) {
  body .container .body-section-container .body-main-container .body-main .body-slogan-container .slogon image {
    display: none;
  }
  body .container .body-section-container .body-main-container .body-main .body-slogan-container .slogon-background {
    display: block;
  }
  body .container .body-section-container .body-main-container .body-main .body-slogan-container .slogon-background-left {
    left: 12px;
  }
  body .container .body-section-container .body-main-container .body-main .body-slogan-container .slogon-background-right {
    right: 12px;
  }
}

body .container .body-section-container .body-main-container .body-main .order-button {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .body-section-container .body-main-container .body-main .order-button button {
  position: relative;
  display: block;
  min-width: 200px;
  height: 60px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  border: none;
  border-radius: 10px;
  background-color: #ffc609;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 198, 9, 0.5);
          box-shadow: 0 0 0 0 rgba(255, 198, 9, 0.5);
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

body .container .body-section-container .body-main-container .body-main .order-button button:focus {
  outline: none;
}

body .container .body-section-container .body-main-container .body-main .order-button button:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 25px rgba(255, 198, 9, 0);
            box-shadow: 0 0 0 25px rgba(255, 198, 9, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 198, 9, 0);
            box-shadow: 0 0 0 0 rgba(255, 198, 9, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 25px rgba(255, 198, 9, 0);
            box-shadow: 0 0 0 25px rgba(255, 198, 9, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 198, 9, 0);
            box-shadow: 0 0 0 0 rgba(255, 198, 9, 0);
  }
}

body .container .body-section-container .body-main-container .body-main .body-congee-container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

body .container .body-section-container .body-main-container .body-main .body-congee-container .body-congee {
  position: relative;
  background: no-repeat url("../img/congee.png") center bottom;
  background-size: auto;
  height: 100%;
  width: 100%;
}

body .container .body-section-container .intro-section-container:nth-child(odd) {
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

body .container .body-section-container .intro-section-container:nth-child(odd) .intro-text {
  margin: 0;
  padding: 0;
  background: no-repeat url("../img/home-body-background.png");
  background-size: cover;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body .container .body-section-container .intro-section-container:nth-child(odd) .section-image-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body .container .body-section-container .intro-section-container:nth-child(even) {
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

body .container .body-section-container .intro-section-container:nth-child(even) .intro-text {
  margin: 0;
  padding: 0;
  background-color: #8A372C;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body .container .body-section-container .intro-section-container:nth-child(even) .intro-text .text {
  color: #fff;
}

body .container .body-section-container .intro-section-container:nth-child(even) .section-image-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 992px) {
  body .container .body-section-container .intro-section-container:nth-child(odd) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3fr 1fr;
        grid-template-rows: 3fr 1fr;
  }
  body .container .body-section-container .intro-section-container:nth-child(odd) .intro-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .container .body-section-container .intro-section-container:nth-child(odd) .section-image-container {
    height: 350px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body .container .body-section-container .intro-section-container:nth-child(even) {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3fr 1fr;
        grid-template-rows: 3fr 1fr;
  }
  body .container .body-section-container .intro-section-container:nth-child(even) .intro-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .container .body-section-container .intro-section-container:nth-child(even) .section-image-container {
    height: 350px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body .container .body-section-container .intro-section-container {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  z-index: 2;
}

body .container .body-section-container .intro-section-container .intro-text {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 950px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

body .container .body-section-container .intro-section-container .intro-text .intro {
  position: relative;
  margin: 0 auto;
  width: 70%;
}

body .container .body-section-container .intro-section-container .intro-text .intro h3 {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
}

body .container .body-section-container .intro-section-container .intro-text .intro .text {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  line-height: 2.2rem;
  margin: 20px 0 40px;
}

body .container .body-section-container .intro-section-container .intro-text .intro .text span {
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  body .container .body-section-container .intro-section-container .intro-text .intro .text {
    font-size: 0.9rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 992px) {
  body .container .body-section-container .intro-section-container .intro-text .intro-text {
    min-height: 700px;
  }
}

body .container .body-section-container .intro-section-container .section-image-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

body .container .body-section-container .intro-section-container .section-image-container div {
  height: 100%;
  min-height: 950px;
}

body .container .body-section-container .intro-section-container .section-image-container .second-section-image {
  background: no-repeat url("../img/home_2.jpg") 100% 100% fixed;
  background-size: fill;
}

body .container .body-section-container .intro-section-container .section-image-container .third-section-image {
  background: no-repeat url("../img/home_5.jpg") 0% 100% fixed;
  background-size: fill;
}

body .container .body-section-container .intro-section-container .section-image-container .fourth-section-image {
  background: no-repeat url("../img/home_4.jpg") 100% 100% fixed;
  background-size: fill;
}

body .container .body-section-container .intro-section-container .section-image-container .fifth-section-image {
  background: no-repeat url("../img/home_6.jpg") 0% 100% fixed;
  background-size: fill;
}

@media screen and (max-width: 992px) {
  body .container .body-section-container .intro-section-container .section-image-container div {
    min-height: 450px;
  }
  body .container .body-section-container .intro-section-container .section-image-container .second-section-image {
    background: no-repeat url("../img/home_2.jpg") center 20%;
    background-size: cover;
  }
  body .container .body-section-container .intro-section-container .section-image-container .third-section-image {
    background: no-repeat url("../img/home_5.jpg") center 20%;
    background-size: cover;
  }
  body .container .body-section-container .intro-section-container .section-image-container .fourth-section-image {
    background: no-repeat url("../img/home_4.jpg") center 20%;
    background-size: cover;
  }
  body .container .body-section-container .intro-section-container .section-image-container .fifth-section-image {
    min-height: 350px;
    background: no-repeat url("../img/home_6.jpg") center;
    background-size: cover;
  }
}

body .container .body-section-container .intro-section-container .last-section-image-contiainer {
  overflow: hidden;
}

body .container .footer {
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
  min-height: 150px;
  max-width: 1280px;
  background: no-repeat url("../img/footer-background.png");
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body .container .footer .footer-contents {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

body .container .footer .footer-contents button {
  margin: 20px 0 0 100px;
  padding: 8px 60px;
  text-decoration: none;
  outline: none;
  border-radius: 6px;
  border: none;
  background-color: #8D392F;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

body .container .footer .footer-contents button:hover {
  background-color: #65261E;
}

body .container .footer .footer-contents p {
  margin-top: 100px;
  font-size: 0.9rem;
}

body .container .footer .footer-contents a {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 10px;
  color: #3a3a3a;
}

body .container .footer .footer-contents a:hover {
  color: #6e6e6e;
}

body .container .footer .copyright {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

body .container .footer .social-icons {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 20px 0;
}

body .container .footer .social-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  body .container .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  body .container .footer .footer-contents {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  body .container .footer .footer-contents p {
    margin-top: 30px;
  }
  body .container .footer .footer-contents button {
    margin: 20px 0;
  }
  body .container .footer .copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body .container .footer .social-icons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80px;
    position: relative;
    margin: 20px auto;
  }
  body .container .footer .social-icons div {
    margin-right: 0;
  }
}
/*# sourceMappingURL=index.css.map */