body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("../img/chinese-wallpa.png");
  background-repeat: repeat;
  font-family: 'Hind Madurai', sans-serif;
}

body .container {
  height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

body .container .header-container {
  position: fixed;
  width: 100%;
  z-index: 3;
}

body .container .header-container .header {
  position: relative;
  max-width: 1280px;
}

body .container .header-container .header .background-image {
  min-height: 110px;
  background: no-repeat url("../img/header-background.png");
  background-size: cover;
}

body .container .header-container .header .background-image .header-navbar {
  margin: 0;
  padding: 0;
}

body .container .header-container .header .background-image .header-navbar button {
  border: none;
  outline: none !important;
}

body .container .header-container .header .background-image .header-navbar .burger-menu:active {
  top: 3px;
}

body .container .header-container .header .background-image .header-navbar .burger-menu {
  height: 30px;
  width: 40px;
  position: relative;
  left: 10px;
  top: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  z-index: 4;
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line {
  position: absolute;
  height: 5px;
  width: 40px;
  background-color: #8D392F;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line-one {
  top: 0;
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line-two {
  top: 10px;
  opacity: 1;
}

body .container .header-container .header .background-image .header-navbar .burger-menu .burger-line-three {
  top: 20px;
}

body .container .header-container .header .background-image .header-navbar .burger-menu-open .burger-line-one {
  -webkit-animation: buger-top 0.3s  0.2s  forwards;
          animation: buger-top 0.3s  0.2s  forwards;
}

body .container .header-container .header .background-image .header-navbar .burger-menu-open .burger-line-two {
  opacity: 0;
}

body .container .header-container .header .background-image .header-navbar .burger-menu-open .burger-line-three {
  -webkit-animation: buger-bottom 0.3s  0.2s  forwards;
          animation: buger-bottom 0.3s  0.2s  forwards;
}

@-webkit-keyframes buger-top {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes buger-top {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes buger-bottom {
  0% {
    top: 20px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes buger-bottom {
  0% {
    top: 20px;
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

body .container .header-container .header .background-image .header-navbar .header-links {
  display: inline-block;
  margin: 20px 20px;
}

body .container .header-container .header .background-image .header-navbar .header-links a {
  padding: 10px 0 5px;
  font-size: 0.9rem;
  font-weight: bold;
  max-width: 90px;
  text-transform: uppercase;
  color: #3a3a3a;
  position: relative;
}

body .container .header-container .header .background-image .header-navbar .header-links a:hover {
  color: #8D392F;
}

body .container .header-container .header .background-image .header-navbar .header-links a:after {
  content: '';
  width: 0%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 50%;
}

body .container .header-container .header .background-image .header-navbar .header-links a:before {
  content: '';
  width: 0%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 50%;
}

body .container .header-container .header .background-image .header-navbar .header-links a:hover:after {
  left: 50%;
  content: '';
  position: absolute;
  bottom: 0px;
  background: #8D392F;
  height: 2px;
  width: 50%;
}

body .container .header-container .header .background-image .header-navbar .header-links a:hover:before {
  left: 0px;
  content: '';
  position: absolute;
  bottom: 0px;
  background: #8D392F;
  height: 2px;
  width: 50%;
}

body .container .header-container .header .background-image .header-logo {
  position: absolute;
  margin-left: 100px;
  top: 25px;
}

body .container .header-container .header .background-image .lang-button {
  position: absolute;
  top: 40px;
  right: 90px;
  cursor: pointer;
}

body .container .header-container .header .background-image .lang-button p {
  margin-top: 5px;
  font-weight: bold;
  color: #3a3a3a;
}

body .container .header-container .header .background-image .lang-button button {
  margin: 0;
  min-width: 80px;
  padding: 8px 0;
  text-decoration: none;
  outline: none;
  border-radius: 6px;
  border: none;
  background-color: #8D392F;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Noto Sans TC', sans-serif;
}

body .container .header-container .header .background-image .lang-button button:hover {
  background-color: #65261E;
}

@media screen and (max-width: 767px) {
  body .container .header-container .header .background-image .header-navbar .header-links a {
    font-size: 1.2rem;
  }
  body .container .header-container .header .background-image .header-logo {
    margin: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  body .container .header-container .header .background-image .lang-button {
    right: 15px;
  }
}

body .container .modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

body .container .modal-content .modal-body-container {
  text-align: center;
  min-height: 400px;
}

body .container .modal-content .modal-body-container .container-fluid .border-line {
  border-bottom: 1px solid #bbb;
}

body .container .modal-content .modal-body-container .container-fluid div .font-style {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}

body .container .modal-content .modal-body-container .container-fluid div p {
  margin: 0;
}

body .container .modal-content .modal-body-container .container-fluid div a {
  position: relative;
  margin: 0 auto;
}

body .container .modal-content .modal-body-container .container-fluid div a button {
  padding: 10px 40px;
}

body .container .location-container {
  margin: 0;
  padding: 0;
  min-height: 850px;
  z-index: 1;
  background-color: #fff;
}

body .container .location-container .center-items {
  min-height: 500px;
  width: 80%;
  position: relative;
  top: 180px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border: 1px solid #ddd;
  border-radius: 15px;
}

body .container .location-container .center-items .address-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .location-container .center-items .address-container h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

body .container .location-container .center-items .address-container .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .location-container .center-items .address-container .store-info span {
  font-size: 0.8rem;
  margin: 3px 10px 0 0;
}

body .container .location-container .center-items .address-container .store-info p {
  line-height: 1.8rem;
}

body .container .location-container .center-items .map-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

body .container .location-container .center-items .map-container div {
  height: 400px;
  width: 375px;
}

@media screen and (max-width: 1040px) {
  body .container .location-container .center-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
}

@media screen and (max-width: 560px) {
  body .container .location-container .center-items {
    width: 100%;
    border: none;
  }
}

body .container .footer {
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
  min-height: 150px;
  max-width: 1280px;
  background: no-repeat url("../img/footer-background.png");
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body .container .footer .footer-contents {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  margin: 0;
  padding: 0;
}

body .container .footer .footer-contents button {
  margin: 20px 0 0 100px;
  padding: 8px 60px;
  text-decoration: none;
  outline: none;
  border-radius: 6px;
  border: none;
  background-color: #8D392F;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

body .container .footer .footer-contents button:hover {
  background-color: #65261E;
}

body .container .footer .footer-contents p {
  margin-top: 100px;
  font-size: 0.9rem;
}

body .container .footer .footer-contents a {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 10px;
  color: #3a3a3a;
}

body .container .footer .footer-contents a:hover {
  color: #6e6e6e;
}

body .container .footer .copyright {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

body .container .footer .social-icons {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 20px 0;
}

body .container .footer .social-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  body .container .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  body .container .footer .footer-contents {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
  body .container .footer .footer-contents p {
    margin-top: 30px;
  }
  body .container .footer .footer-contents button {
    margin: 20px 0;
  }
  body .container .footer .copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body .container .footer .social-icons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80px;
    position: relative;
    margin: 20px auto;
  }
  body .container .footer .social-icons div {
    margin-right: 0;
  }
}
/*# sourceMappingURL=location.css.map */