.menu-container {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  z-index: 1;
}

.menu-container .menu-text {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 950px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu-text .top-spacer {
  top: 50px;
}

.menu-container .menu-text .menu {
  position: relative;
  width: 60%;
  line-height: 2rem;
}

.menu-container .menu-text .menu .menu-section-divider {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.menu-container .menu-text .menu .menu-section-divider .menu-items {
  text-align: left;
}

.menu-container .menu-text .menu .menu-section-divider .menu-items li {
  padding: 3px 0;
}

.menu-container .menu-text .dinner-combo-menu .dinner-combo-title-container {
  margin-bottom: 50px;
}

.menu-container .menu-text .dinner-combo-menu .dinner-combo-title-container .promotion-logo {
  position: absolute;
  right: 0;
}

.menu-container .menu-text .dinner-combo-menu .dinner-combo-title-container h3 {
  font-weight: 700;
}

.menu-container .menu-text .dinner-combo-menu .dinner-combo-title-container p {
  font-size: 0.9rem;
  line-height: 1.7rem;
  margin: 5px 0;
}

.menu-container .menu-text .dinner-combo-menu .combo-menu {
  margin-top: 20px;
}

.menu-container .menu-text .dinner-combo-menu .combo-menu .promotion-logo {
  position: absolute;
  right: 0;
}

.menu-container .menu-text .dinner-combo-menu .combo-menu h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

.menu-container .menu-text .dinner-combo-menu .combo-menu li {
  font-size: 0.8rem;
  line-height: 1.7rem;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .menu-container .menu-text .menu {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

.menu-container .menu-image-container {
  margin: 0;
  padding: 0;
  max-width: 640px;
}

.menu-container .menu-image-container div {
  height: 100%;
  width: 100%;
}

.menu-container .menu-image-container .first-menu-image {
  position: relative;
  right: 0;
  background: no-repeat url("../img/menu_2_sq.jpg") 100% 100% fixed;
  background-size: con;
}

.menu-container .menu-image-container .second-menu-image {
  background: no-repeat url("../img/menu_1_sq.jpg") 0% 100% fixed;
  background-size: fill;
}

.menu-container .menu-image-container .third-menu-image {
  background: no-repeat url("../img/menu_3_sq.jpg") 100% 100% fixed;
  background-size: fill;
}

.menu-container .menu-image-container .fourth-menu-image {
  background: no-repeat url("../img/menu_5_sq.jpg") 0% 100% fixed;
  background-size: fill;
}

.menu-container .menu-image-container .fifth-menu-image {
  background: no-repeat url("../img/menu_4_sq.jpg") 0% 100% fixed;
  background-size: fill;
}

.menu-container .back-Color-window-size {
  background-color: #f8f3dd;
}

.menu-container .back-Color-mobile-size {
  background-color: #fff;
}

.menu-container .menu-text-one {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.menu-container .menu-image-one {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.menu-container .menu-text-fifth {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.menu-container .menu-image-fifth {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 992px) {
  .first-menu-container {
    padding-top: 100px;
  }
  .menu-container {
    text-align: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
  }
  .menu-container .menu-text {
    height: 650px;
  }
  .menu-container .menu-text .menu {
    width: 90%;
  }
  .menu-container .menu-text .menu .menu-section-divider .menu-items {
    text-align: center;
  }
  .menu-container .menu-text .menu .menu-section-divider .menu-items-english li {
    padding: 9px 0;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .menu-container .menu-text .menu ul {
    margin: 0;
    padding: 0;
  }
  .menu-container .menu-text .menu ul li {
    list-style: none;
  }
  .menu-container .long-list-spacer {
    height: 950px;
  }
  .menu-container .menu-image-container {
    max-height: 300px;
    min-width: 100%;
  }
  .menu-container .menu-image-container .first-menu-image {
    background: no-repeat url("../img/menu_2_sq.jpg") 100% 20%;
    background-size: cover;
  }
  .menu-container .menu-image-container .second-menu-image {
    background: no-repeat url("../img/menu_1_sq.jpg") 100% 20%;
    background-size: cover;
  }
  .menu-container .menu-image-container .third-menu-image {
    background: no-repeat url("../img/menu_3_sq.jpg") 100% 20%;
    background-size: cover;
  }
  .menu-container .menu-image-container .fourth-menu-image {
    background: no-repeat url("../img/menu_5_sq.jpg") 100% 20%;
    background-size: cover;
  }
  .menu-container .menu-image-container .fifth-menu-image {
    background: no-repeat url("../img/menu_4_sq.jpg") 100% 20%;
    background-size: cover;
  }
  .menu-container .back-Color-window-size {
    background-color: #fff;
  }
  .menu-container .back-Color-mobile-size {
    background-color: #f8f3dd;
  }
  .menu-container .menu-text-one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu-container .menu-text-one .top-spacer {
    top: 0px;
  }
  .menu-container .menu-image-one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu-container .menu-text-fifth {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu-container .menu-text-fifth .top-spacer {
    top: 0px;
  }
  .menu-container .menu-image-fifth {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .combo-container {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}
/*# sourceMappingURL=menu.css.map */