body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("../img/chinese-wallpa.png");
  background-repeat: repeat;
}

body .container {
  height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

body .container .header-container {
  position: fixed;
  width: 100%;
  z-index: 3;
}

body .container .header-container .header {
  position: relative;
  max-width: 1280px;
}

body .container .header-container .header .header-navbar {
  height: 110px;
  padding: 0;
  margin: 0;
  background: no-repeat url("../img/header-background.png");
  background-size: cover;
}

body .container .header-container .header .header-navbar button {
  border: none;
  outline: none !important;
}

body .container .header-container .header .header-navbar .header-links {
  margin: 0 20px;
}

body .container .header-container .header .header-navbar .header-links a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #3a3a3a;
  text-transform: uppercase;
}

body .container .header-container .header .header-logo {
  position: absolute;
  margin-left: 100px;
  top: 25px;
}

body .container .header-container .header .lang-button {
  position: absolute;
  top: 40px;
  right: 90px;
  cursor: pointer;
}

body .container .header-container .header .lang-button p {
  margin-top: 5px;
  font-weight: bold;
  color: #3a3a3a;
}

@media screen and (max-width: 767px) {
  body .container .header-container .header .header-logo {
    margin: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  body .container .header-container .header .lang-button {
    right: 15px;
  }
}

body .container .body-section-container {
  position: relative;
}

body .container .body-section-container .body-main-container {
  position: relative;
  height: 825px;
  max-width: 1280px;
}

body .container .body-section-container .body-main-container .body-main {
  position: fixed;
  background: no-repeat url("../img/home-body-background.png") fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 0;
}

body .container .body-section-container .body-main-container .body-main .red-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(120, 13, 13, 0.75);
}

body .container .body-section-container .body-main-container .body-main .form-signin {
  position: relative;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 200px auto;
}

body .container .body-section-container .body-main-container .body-main .form-signin .form-spacer {
  margin: 25px 0;
}

body .container .body-section-container .body-main-container .body-main .form-signin h1 {
  color: #fff;
  text-transform: uppercase;
}

body .container .body-section-container .body-main-container .body-main .form-signin .checkbox {
  font-weight: 400;
  color: #fff;
}

body .container .body-section-container .body-main-container .body-main .form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 16px;
}

body .container .body-section-container .body-main-container .body-main .form-signin .form-control:focus {
  z-index: 2;
}

body .container .body-section-container .body-main-container .body-main .form-signin .signup-container {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .container .body-section-container .body-main-container .body-main .form-signin .signup-container a {
  list-style: none;
  color: #fff;
}

body .container .body-section-container .footer {
  position: relative;
  margin: 0;
  padding: 0;
  height: 150px;
  max-width: 1280px;
  background: no-repeat url("../img/footer-background.png");
  background-size: cover;
}

body .container .body-section-container .footer .footer-contents {
  width: 100%;
  margin: 0;
  padding: 0;
}

body .container .body-section-container .footer .footer-contents button {
  margin: 20px 0 0 100px;
  padding: 8px 60px;
  text-decoration: none;
  outline: none;
  border-radius: 6px;
  border: none;
  background-color: #8D392F;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

body .container .body-section-container .footer .footer-contents button:hover {
  background-color: #65261E;
}

body .container .body-section-container .footer .footer-contents p {
  margin-top: 100px;
  font-size: 0.9rem;
}

body .container .body-section-container .footer .footer-contents a {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 10px;
  color: #3a3a3a;
}

body .container .body-section-container .footer .footer-contents a:hover {
  color: #6e6e6e;
}

body .container .body-section-container .footer .copyright {
  text-align: center;
}

body .container .body-section-container .footer .social-icons {
  margin: 20px 0;
}

body .container .body-section-container .footer .social-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
}
/*# sourceMappingURL=signInSignup.css.map */